<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">GoedGepickt</label>
    <label lang="nl">GoedGepickt</label>
    <label lang="en">GoedGepickt</label>

    <version>1.0.1</version>
    <copyright>(c) GoedGepickt</copyright>
    <author>GoedGepickt</author>
    <link>https://www.goedgepickt.nl</link>

    <compatibility minVersion="5.3.0"/>

</plugin>